/* RESETS */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

/* GLOBAL */
body, html {
    height: 100%;
    background-color: rgb(235,237,235);
}

body {
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr 4fr 1fr;
}

.icon {
    height: 30px;
    width: 30px;
    filter: brightness(0) invert(1);
}


/* HEADER */
.header-side, .header {
    background-color: rgb(100,150,150);
}

.header {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.header .icon {
    height: 60px;
    width: 60px;
}

.page-title {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

/* MAIN */
#book-container {
    grid-area: 2 / 2 / 3 / 3;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: 400px;
    grid-auto-rows: 400px;
    gap: 1rem;
} 

.book {
    background-color: rgb(219, 168, 192);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    color: white;
}

.book .title {
    font-size: 2rem;
    align-self: center;
    font-size: 2rem;
    font-weight: 800;
}

.book .info {
    align-self: flex-start;
    font-size: 1.1rem;
}

.book .bottom-bar {
    margin-top: auto;
    align-self: flex-end;
}